extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 John Collins

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | With approximately 13 years of manufacturing leadership I am now pursuing a career as a Full Stack JavaScript Developer.
            | I have worked in a leadership role with Nestle, American Health Packaging, and VeePak Ohio, LLC.
            | The skills listed in the right column are the technologies I have become proficient in while learning to develop.
          p
            | Please see my contact info if your team can use a self starter who works great independently and as a team member/team leader.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills


        ul
          li Express
          li Pug
          li JavaScript
          li Node.js
          li npm
          li MongoDB
          li HTML
          li CSS
          li Java
          li NoSQL
          li Git
          li GitHub
          li Array Manipulation
          li DOM
          li Regular Expressions
          li Slack
          li AJAX
          li REST API
          li Authentication
          li jQuery
        h6 Contact Info


        ul
          li 614-886-3056
          li j.k.collins410@gmail.com

        a.button.expanded(href='www.linkedin.com/in/john-collins-083987108') LinkedIn
        a.button.expanded(href='https://github.com/collins410') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  